<div *ngIf="interestedCustomers?.length > 0; else noCustomersTemplate">
    <span style="font-size: 30px; color:  green">Interested Customers ({{interestedCustomers.length}}) :</span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Address</th>
                <th *ngIf="propertyStatus?.name != 'sold' && propertyStatus?.name != 'bought'; else soldTemplateTh">Action</th>
                <ng-template #soldTemplateTh>
                    <th>Buyer?</th>
                </ng-template>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of interestedCustomers" [ngClass]="(customer._id == buyer?._id) ? 'buyer-td': ''">
                <td>{{customer.name}}</td>
                <td>{{customer.contactNo}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.address}}</td>
                
                <td *ngIf="propertyStatus?.name != 'sold' && propertyStatus?.name != 'bought'; else soldTemplateTd">
                    <button class="btn btn-primary" (click)="sellProperty(customer)">Sell</button>
                </td>
                <ng-template #soldTemplateTd>
                    <td *ngIf="customer._id == buyer?._id">✓</td>
                </ng-template>

            </tr>
        </tbody>
    </table>
</div>

<ng-template #noCustomersTemplate>
    <h5>No interested customers!!</h5>
</ng-template>

